.content{
  height: 100%;
  width: 100%;
  position: relative;
}
.tableWrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  overflow-y: auto;
  padding: 10px;
  padding-top: 60px;

  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .item{
    width: 33%;
    height: 350px;
    padding: 10px;
  }
  .em{
    width: 33%;
  }
}
.topBar{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 10px 0;
  margin-top: 20px;
}

@media screen and (min-width: 1801px) {
  .tableWrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item{
      width: 25%;
      height: 350px;
      padding: 10px;
    }
    .em{
      width: 25%;
    }
  }
}

@media screen and (max-width: 1800px) and (min-width: 1000px) {
  .tableWrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item{
      width: 33%;
      height: 350px;
      padding: 10px;
    }
    .em{
      width: 33%;
    }
  }
}

@media screen and (max-width: 999px) and (min-width: 751px) {
  .tableWrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item{
      width: 50%;
      height: 350px;
      padding: 10px;
    }
    .em{
      width: 50%;
    }
  }
}

@media screen and (max-width: 750px) {
  .tableWrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item{
      width: 100%;
      height: 350px;
      padding: 10px;
    }
    .em{
      width: 100%;
    }
  }
}
